*~

.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

.emacs.d/auto-save-list
.emacs.d/projectile-bookmarks.eld
.emacs.d/transient
.emacs.d/elpa
.emacs.d/snippets
.emacs.d/my-config.el

.ssh/*

Downloads/*

.xsession
.xsessionrc
.xinitrc

.viminfo
.vim/.netrwhist

.screenrc

.pki/
.local/

.lesshst

#.bash_history#
.gtkrc-2.0

.face
.fehbg

.conkyrc
.dmrc

.cache/

.bin/

.Xauthority
.Xresources

.bash_history
.bash_logout
.bash_profile
/#.bash_history#


dconf
gtk-3.0
pamac
arcologout
BraveSoftware
Thunar
pulse
variety
autostart
gconf
user-dirs.dirs
user-dirs.locale
alacritty
arcolinux-welcome-app
conky
fontconfig
galculator
gsimplecal
htop
Kvantum
nano
neofetch
nitrogen
nomacs
paru
polybar
qt5ct
rofi
termite
volumeicon
xfce4
mimeapps.list
Trolltech.conf
yad.conf