*.bak
*~
.Xauthority
.Xresources
.avidemux6/
.aws/config
.aws/credentials
.bash_history
.bash_history*
.bash_logout
.bash_profile
.bashrc
.bin/
.cabal/
.cache/
.cargo/
.cinnamon/backgrounds/
.cinnamon/configs/
.cinnamon/spices.cache/
.config/BraveSoftware
.config/Code - OSS/.org*
.config/Code - OSS/Cache/
.config/Code - OSS/CachedData/
.config/Code - OSS/CachedExtensionVSIXs/
.config/Code - OSS/CachedProfilesData/
.config/Code - OSS/Code Cache/
.config/Code - OSS/Cookies*
.config/Code - OSS/Crashpad/
.config/Code - OSS/DawnCache/
.config/Code - OSS/DawnGraphiteCache/
.config/Code - OSS/DawnWebGPUCache/
.config/Code - OSS/Dictionaries/
.config/Code - OSS/GPUCache/
.config/Code - OSS/Local Storage/
.config/Code - OSS/Network Persistent State
.config/Code - OSS/Preferences
.config/Code - OSS/Service Worker/
.config/Code - OSS/Session Storage/
.config/Code - OSS/Shared Dictionary/
.config/Code - OSS/SharedStorage
.config/Code - OSS/TransportSecurity
.config/Code - OSS/Trust Tokens
.config/Code - OSS/Trust Tokens-journal
.config/Code - OSS/User/History/
.config/Code - OSS/User/globalStorage/
.config/Code - OSS/User/workspaceStorage/
.config/Code - OSS/WebStorage/
.config/Code - OSS/code.lock
.config/Code - OSS/databases/
.config/Code - OSS/languagepacks.json
.config/Code - OSS/logs/
.config/Code - OSS/machineid
.config/EOS-greeter.conf
.config/GIMP/
.config/JetBrains/
.config/Kvantum
.config/Postman/
.config/Proton
.config/QtProject.conf
.config/Thunar
.config/Trolltech.conf
.config/alacritty/
.config/archlinux-logout/archlinux-logout.conf
.config/arcolinux-welcome-app
.config/arcologout
.config/autostart
.config/broot/
.config/calibre/
.config/coc/extensions/package.json
.config/conky
.config/dconf
.config/dunst/
.config/eos-update-notifier.first_init
.config/example.picom.conf
.config/featherpad/
.config/fontconfig
.config/galculator
.config/gconf
.config/ghc/
.config/gsimplecal/config
.config/gthumb/
.config/gtk-2.0/
.config/gtk-3.0
.config/gtk-4.0/
.config/htop
.config/i3/i3blocks.conf
.config/i3/keybindings
.config/i3/scripts/
.config/jgit/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/knfsshare
.config/konsolerc
.config/konsolesshconfig
.config/kwalletmanagerrc
.config/kwalletrc
.config/libreoffice/
.config/lximage-qt/
.config/lxqt
.config/memos.json
.config/mimeapps.list
.config/nano
.config/neofetch
.config/news-flash/
.config/nitrogen
.config/nomacs
.config/pamac
.config/paru
.config/pcmanfm-qt
.config/pdfarranger/
.config/polybar
.config/pulse
.config/qps/
.config/qt5ct
.config/qterminal.org/
.config/ristretto/
.config/ristretto/accels.scm
.config/rofi
.config/screengrab/
.config/systemd/
.config/termite
.config/torbrowser/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/variety
.config/vifm/
.config/vlc/
.config/volumeicon
.config/xed/
.config/xfce4
.config/yad.conf
.config/zoom.conf
.config/zoomus.conf
.conkyrc
.dmrc
.eclipse/
.emacs.d/.org-id-locations
.emacs.d/auto-save-list
.emacs.d/auto-save-list
.emacs.d/bookmarks
.emacs.d/eln-cache/
.emacs.d/elpa
.emacs.d/history
.emacs.d/my-custom-variables-and-faces.el
.emacs.d/myconfigs/my-config.el
.emacs.d/myconfigs/my-mini-buffer-completion-configs.el
.emacs.d/myconfigs/my-themes.el
.emacs.d/org-caldav/org-caldav-backup.org
.emacs.d/org-roam.db
.emacs.d/projectile-bookmarks.eld
.emacs.d/quelpa/
.emacs.d/transient/
.emacs.d/url/cache/
.emacs.d/url/cookies
.face
.fehbg
.firedragon/
.fzf/
.ghc/
.gnupg/
.gradle/
.gradle/caches/
.gradle/daemon/
.gradle/native/
.gradle/wrapper/
.gtkrc-2.0
.h2.server.properties
.java/
.kde4/share/
.lemminx/
.lesshst
.local/
.m2
.mozilla/
.mp3directcut/
.netbeans/
.npm/
.p2/
.pki/
.profile
.python_history
.redhat/
.rewrite-cache/
.rustup/
.screenrc
.sdkman/
.ssh/*
.stack/
.swt/
.vim/.netrwhist
.vim/autoload/
.vim/plugged/
.viminfo
.vscode-oss/argv.json
.vscode-oss/extensions/
.wine/
.xinitrc
.xmonad/build-x86_64-linux/Main.hi
.xmonad/build-x86_64-linux/Main.o
.xmonad/build-x86_64-linux/MyKeysConfig.hi
.xmonad/build-x86_64-linux/MyKeysConfig.o
.xmonad/lib/MyKeysConfig.hi
.xmonad/lib/MyKeysConfig.o
.xmonad/scripts/autostart.sh
.xmonad/scripts/picom-toggle.sh
.xmonad/scripts/picom.conf
.xmonad/scripts/set-screen-resolution-in-virtualbox.sh
.xmonad/scripts/system-overview
.xmonad/wall.jpg
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession
.xsession-errors
.xsession-errors.old
.xsessionrc
.zoom/
.zshenv
.zshrc
/.FBReader/
/.config/lapce-stable/
/.elfeed/
/.emacs.d/session.*
/.sudo_as_admin_successful
/Calibre Library/
/ps-pulse-ubuntu-debian.deb
Desktop/*
Documents/
Downloads/*
Music/
Pictures/
aws/
awscliv2.zip
config/gsimplecal
eclipse-workspace/
eclipse/
go/
paru/
snap/
